{% extends 'layouts/base-nonav.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static '/styles/perfil.css' %}" />
{% endblock%} <br />

{% block title %}Cambiar contraseña| Books-Newlife{% endblock title %} <br />

{% block mainblock %}

<div class="form-container">
  <form action="" method="POST">
    <h3><b>Cambiar contraseña</b></h3>
    {% csrf_token %}
    <br />
    <h2><b>Contraseña actual</b></h2>
    {{form.old_password}}
    <br />
    <br />
    <h2><b>Contraseña nueva</b></h2>
    {{form.new_password1}}
    <br />
    <br />
    <h2>
      &bull; Su contraseña no puede asemejarse tanto a su información personal.
    </h2>
    <h2>&bull; Su contraseña debe tener al menos 8 caracteres.</h2>
    <h2>&bull; Su contraseña no puede ser una clave utilizada comúnmente.</h2>
    <h2>&bull; Su contraseña no puede ser completamenete numerica.</h2>
    <br />
    <h2><b>Confirma la nueva contraseña</b></h2>
    {{form.new_password2}}
    <button type="submit" class="btn">Cambiar contraseña</button>
  </form>
</div>

{% endblock mainblock %}
