:root {
  --about-color: rgb(224, 219, 219);
  --box-shadow-about: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.about-section {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: var(--about-color);

  width: 100%;
  color: black;
}
h1 {
  margin: 5px auto;
  text-align: center;
  color: black;
}
.about-section p {
  text-align: center;
}

.our-team {
  margin-left: 90px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}
.card {
  max-width: 300px;
  margin: 15px;
  border-radius: 5%;
  box-shadow: var(--box-shadow-about);
}

.card img {
  max-width: 300px;
  border-radius: 5% 5% 0 0;
}
.card h2 {
  margin: 0 auto;
  text-align: center;
}
.card p {
  margin: 15px;
}
