:root {
  --about-color: rgb(224, 219, 219);
  --box-shadow-about: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}


.about-section {
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: var(--about-color);
  color: black;
}

h1 {
  margin: 5px auto;
  color: black;
  font: 900 60px/1 'Playfair Display', serif;
  padding-bottom: 20px;
  text-align: center;
  
}

h2 {
  padding-left: 330px;
  left: 616px;
  text-align: justify;
  max-width: 986px;
  color: black;
  font-family: 'Segoe UI';
}

p {
  padding-left: 330px;
  text-align: justify;
  color:rgb(51, 51, 51);
  max-width: 1000px;
  font-family: 'Segoe UI';
}


.texto-guia {
  align-items: center;
  padding-left: 330px;
  text-align: justify;
  color:rgb(51, 51, 51);
  max-width: 1000px;
  font-family: 'Segoe UI';
}
