{% extends 'layouts/base.html' %} 
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'styles/privacidad.css' %}" />
{% endblock links %}
{% block title %}
      Guía de usuario | Books-Newlife
{% endblock title %}
{% block mainblock %}
<div class="cards-container">
    <h1>Guía de usuario</h1>
    
    <p>Una vez que se registre una cuenta y se verifique la identidad del usuario, puede tener acceso a las distintas funcionalidades que esta ofrece la página web..</p>
    
    <h2>Registro de usuario</h2>
    <p>En la página de inicio de BooKs_New_life encontrará en la parte superior derecha las opciones de registro, una vez que de click lo redirige a la página de registro.</p>
    <h2>Ventana de registro de usuario </h2> 
    <p>En la ventana de registro de usuario le pedirán información general como: nombres de usuario, nombre, apellido, correo electrónico, contraseña y rectificación de contraseña, una vez diligencié esos datos se verificara su autenticidad y podrá disfrutar las funciones de nuestra página BooKs_New_life.</p>
    
    <h2>Ingreso de usuario registrado</h2>
    <p>En la página de inicio de BooKs_New_life encontrará en la parte superior derecha las opciones de ingresar y lo redirige a una ventana emergente, la cual le indica los libros ultimamente compartidos en la aplicación.</p>
    
    <h2>Ventana Bienvenido</h2>
    <p>En este espacio podra encontrar lo libro que se han subido recientemente y a demas podra observar mas información a detalle dando clic sobre algun libro.</p>
    
    <h2>Beneficios de registro</h2>
    
    <h2>Publicar libro</h2>
    <p>Tiene la posibilidad de ingresar informacion acerca del libro que quiere publicar nombre de libro que quiere hacer con el vender, intercambiar, o obsequio.</p>
    
    <h2>Mis libros subidos</h2>
    <p>En este lugar tiene la posibilidad de ver los libros que usted como usuario ha subido y cuáles están activos.</p>
    
    <h2>Lista de libros favoritos</h2>
    <p>En esta ventana encontrará la lista de libros que llamaron su atención y aún están en el estante de libros, esta le muestra cuáles aún siguen en existencia.</p>
    
    <h2>Modificar contraseña</h2>
    <p>Cuenta con la opción de modificar la contraseña.</p>
    
    <h2>Modificar perfil de usuario</h2>
    <p>En este espacio podrá modificar los campos de nombre de usuario apellido, en caso de querer cambiar correo electrónico se verificara nuevamente y migraran los datos.</p>
    
    <h2>Ventana Usuario</h2>
    <p>Esta ventana está vinculada a adquirir libro, esta le permite tener contacto con el usuario que ofrece el producto e intermediar de manera directa con él.</p>
    </div>
</div>
{% endblock mainblock %}