{% extends 'layouts/base.html' %} <br />
{% load static %} <br />

{% block links %}
<link rel="stylesheet" href="{% static '/styles/index_.css' %}" />
{% endblock links %} <br />

{% block mainblock %}

<section id="section-2">
  <div id="books-main">
    <h3>Libros Destacados</h3>

    <div class="books-flex">
      <br />

      {% for book in object_list %} <br />

      <div class="book">
        <a href="{% url 'book_details' book.pk %} " target="_blank" alt=""
          ><img src="media/{{book.libro_img}}"
        /></a>
        <div class="info">
          {% if book.titulo|length > 35 %}
          <h4>{{book.titulo|slice:35}}...</h4>
          {% else %}
          <h4>{{book.titulo}}</h4>
          {% endif %}

          <p><b>Autor:</b> {{book.autor}}</p>
          <p><b>Estado:</b> {{book.estado}}</p>
          <p class="card-user"><b>Subido por: </b>{{book.usuario}}</p>
        </div>
      </div>

      <br />
      {% endfor %}
      <br />
    </div>
  </div>
</section>

{% endblock mainblock %}
