<!DOCTYPE html>
{% extends 'layouts/base.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static 'styles/privacidad.css' %}" />
{% endblock links %} 
{% block title %}
      Tratamiento de datos | Books-Newlife
      {% endblock title %}
{% block mainblock %}
<div class="cards-container">
  <h1>Tratamiento de Datos</h1>
  <br />
  <br />
  <br />
  <p>
    Acorde con la Ley 1581 del 2012, por la cual se dictan disposiciones
    generales para la protección de datos personales y de conformidad con los
    señalado en el Decreto 1377 de 2013, Books New Life se permite informar a
    todos nuestros usuarios. que se encuentran registrados en nuestras bases de
    datos, que los nombres, comeos electrónicos y demás datos que han sido
    recolectados a través de diferentes medios (fisicos, electrónicos o
    telemercadeo); serán utilizados única y exclusivamente con fines de
    intercambio de información comercial, seguimiento a cumplimiento a
    obligaciones laborales, promulgación de eventos ylo noticias de interés
    general acorde a nuestro portafolio de productos ylo servicios. obligaciones
    contractuales, soporte técnico, Tomando en cuenta lo anterior, los clientes,
    proveedores y empleados, nos autorizan de manera expresa para continuar
    procesando sus datos personales de forma leal, responsable, segura y
    confiable, impidiendo el acceso de dicha información por parte de terceros.

    <br>
    <br>
    Si dentro de los treinta (30 días) hábiles a cualquier intercambio de
    información fisica, electrónica o por telemercadeo, no hemos recibido por
    parte de cualquier Titular que aparece registrado en nuestras bases de
    datos, solicitud expresa de supresión de sus datos personales, Books New
    Life entenderá que ha sido autorizada para continuar haciendo uso de los
    datos personales en los términos previstos y las finalidades consignadas en
    la presente politica de tratamiento de datos personales.
  </p>
</div>
{% endblock %}
