{% extends 'layouts/base-nonav.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static '/styles/perfil.css' %}" />
{% block title %}Actualizar datos de contacto | Books-Newlife{% endblock title %}
{% endblock%} {% block mainblock %}

<div class="form-container">
  <form action="" method="POST" enctype="multipart/form-data">
    <h3><b>{{profile}}</b></h3>
    {% csrf_token %} {{form.as_p}}
    <button type="submit" class="btn">Guardar cambios</button>
  </form>
</div>

{% endblock mainblock %}
