.details_image {
  width: 500px;
  height: 600px;
}

.titulo-img,
.book_body {
  width: 70%;
  padding: 10px;

  margin: 30px auto;
  border-bottom: 0.5px solid black;
}

.titulo-img img {
  max-width: 100%;
  border-radius: 5%;
}

.book_body ul {
  border-bottom: 0.5px solid black;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.book_body ul li {
  margin: 10px;
}

.reseña {
  text-align: justify;
}

a {
  text-decoration: none;
}
