body {
  min-height: 100vh;
  position: relative;
}

#section-2 {
  width: 100%;

  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.book {
  max-width: 300px;
  max-height: 600px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3%;
  align-self: normal;
  flex: 0 0 100%;
}
.book img {
  width: 100%;
  height: 400px;
  border-radius: 5% 5% 0 0;
}
.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.card-user {
  bottom: 0;
  margin-top: auto;
}

#books-main {
  max-width: 80%;
  margin: 0 auto;

  width: 90%;

  padding: 30px;
}

.books-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
}
#section-3 {
  width: 100%;

  padding: 30px;
  border-top: black solid 1px;
}
.featured-flex {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}

.featured-users {
  width: 23rem;
  height: 23rem;

  margin: 10px;
  border-radius: 5%;
}
.featured-users img {
  height: 70%;
  width: 100%;
  border-radius: 100%;
}
.user-description {
  padding: 5px;
}

.section-4 {
  background-color: ivory;
  display: grid;
  border-top: black solid 1px;
  padding-bottom: 100px;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

#subject {
  max-height: 100px;
  resize: none;
}
