html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}

.navbar {
  background-color: rebeccapurple !important;
}

.search {
  right: 0;
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.collapse {
  display: flex;
  justify-content: space-around;
}

img.imagen-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
